---
import { BlogPost } from "../components/BlogPost";
import { EditPost } from "../components/EditPost";
import { MorePosts } from "../components/MorePosts";
import { sortPosts } from "../utils/sortPosts";
import type { PostMeta } from "../utils/types";
import BlogLayout from "./BlogLayout.astro";

export type Props = {
  url: string;
  content: PostMeta;
};

const {
  content: { url, title, description, pubDate, minutesRead },
} = Astro.props;

const latestPosts = sortPosts(await Astro.glob("../pages/blog/*.{md,mdx}"))
  .slice(0, 3)
  .filter(({ url }) => url !== Astro.props.url)
  .slice(0, 2);
---

<BlogLayout title={title} description={description}>
  <div slot="default">
    <BlogPost title={title} pubDate={pubDate} minutesRead={minutesRead}>
      <slot />
    </BlogPost>
    <div class="lg:pb-14 pt-14 -ml-4">
      <EditPost path={url} />
    </div>
  </div>
  <MorePosts posts={latestPosts} slot="aside" />
</BlogLayout>
